.header {
    min-width: 100%;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;

    .logo {
        user-select: none;


        img {
            width: 20rem;
            height: 100%;
            margin: 0 auto;
            padding-bottom: 2rem;
            -webkit-user-drag: none;
            display: block;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        // margin-left: 5rem;
    }

    li {
        padding-right: 2rem;
    }

    a {
        color: black;
        font-size: 1.1em;
        font-weight: 700;
    }

    .search-container {
        margin-bottom: 1rem;

    }

    input {
        width: 14rem;
        // margin-bottom: 1rem;
        height: 3.3vh;
        border: none;
        background-color: rgb(238, 238, 238);
    }

    button {
        height: 3.4vh;
        width: 4rem;
        border: none;
        background-color: rgb(223, 221, 221);
        text-transform: uppercase;

    }

}


/* Smartphones  ----------- */
@media only screen and (min-device-width : 200px) and (max-device-width : 480px) {
    .header {
        margin-top: 9rem;
        font-size: 2em;
        padding: 8%;

        .search-container {
            display: none;

        }

        nav {
            margin-left: 6rem;
        }

        .logo {
            margin-left: -5rem;

            img {
                width: 30rem;
            }
        }


    }
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait) {
    .header {
        margin-top: 7rem;
        font-size: 2em;
        padding: 8%;

        .search-container {
            display: none;

        }

        nav {
            margin-left: 6rem;
        }

        .logo {
            margin-left: -5rem;

            img {
                width: 30rem;
            }
        }


    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}